In [ ]:
# 모델 정의
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Conv2D, MaxPooling2D, Dense, Dropout, Flatten

model = Sequential()
model.add(Input(shape=(28, 28, 1)))
model.add(Conv2D(32, 3, activation='ReLU', padding='same'))
model.add(MaxPooling2D())
model.add(Dropout(0.1))

model.add(Conv2D(64, 3, activation='ReLU', padding='same'))
model.add(MaxPooling2D())
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(128, activation='ReLU'))
model.add(Dropout(0.5))
model.add(Dense(10, activation='softmax'))

model.summary()

# 이미지의 크기가 각 단계별로 어떻게 변화하는지, 각 층의 파라미터 수는 어떻게 되는지 계산할 수 있어야 한다.

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_13 (Conv2D)          (None, 28, 28, 32)        320

 max_pooling2d_12 (MaxPooli  (None, 14, 14, 32)        0
 ng2D)

 dropout_12 (Dropout)        (None, 14, 14, 32)        0

 conv2d_14 (Conv2D)          (None, 14, 14, 64)        18496

 max_pooling2d_13 (MaxPooli  (None, 7, 7, 64)          0
 ng2D)

 dropout_13 (Dropout)        (None, 7, 7, 64)          0

 flatten_2 (Flatten)         (None, 3136)              0

 dense_6 (Dense)             (None, 128)               401536

 dropout_14 (Dropout)        (None, 128)               0

 dense_7 (Dense)             (None, 10)                1290

=================================================================
Total params: 421642 (1.61 MB)
Trainable params: 421642 (1.61 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.compile(loss='sparse_categorical_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [ ]:
from tensorflow.keras.datasets import mnist
(train_X, train_y), (test_X, test_y) = mnist.load_data()

In [ ]:
train_X = train_X.reshape(-1, 28, 28, 1) / 255.0
test_X = test_X.reshape(-1, 28, 28, 1) / 255.0
# 첫 번째 1은 축?
# 맨 뒤의 1은 채널 정보를 가지는 값
# Gradient Vanishing을 방지하기 위해서 255.0으로 나눈다.

In [ ]:
model.fit(train_X, train_y, validation_data=(test_X, test_y),
            batch_size=128, epochs=10, verbose=1)

Epoch 1/10
469/469 [==============================] - 19s 39ms/step - loss: 0.3156 - accuracy: 0.9017 - val_loss: 0.0613 - val_accuracy: 0.9789
Epoch 2/10
469/469 [==============================] - 18s 39ms/step - loss: 0.1041 - accuracy: 0.9694 - val_loss: 0.0400 - val_accuracy: 0.9864
Epoch 3/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0780 - accuracy: 0.9770 - val_loss: 0.0319 - val_accuracy: 0.9900
Epoch 4/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0635 - accuracy: 0.9811 - val_loss: 0.0273 - val_accuracy: 0.9900
Epoch 5/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0585 - accuracy: 0.9826 - val_loss: 0.0261 - val_accuracy: 0.9910
Epoch 6/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0489 - accuracy: 0.9850 - val_loss: 0.0241 - val_accuracy: 0.9914
Epoch 7/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0465 - accuracy: 0.9857 - val_loss: 0.0258 - val_accuracy: 0.9913
Epoch 8/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0417 - accuracy: 0.9869 - val_loss: 0.0230 - val_accuracy: 0.9918
Epoch 9/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0396 - accuracy: 0.9878 - val_loss: 0.0228 - val_accuracy: 0.9923
Epoch 10/10
469/469 [==============================] - 19s 40ms/step - loss: 0.0355 - accuracy: 0.9892 - val_loss: 0.0199 - val_accuracy: 0.9929

In [ ]:
loss, accuracy = model.evaluate(test_X, test_y)

313/313 [==============================] - 1s 3ms/step - loss: 0.0199 - accuracy: 0.9929

In [ ]:
print(loss, accuracy)

0.019885972142219543 0.992900013923645

In [ ]:
import numpy as np
pred = model.predict(test_X)
pred = np.argmax(pred, axis=1)

313/313 [==============================] - 1s 3ms/step

In [ ]:
import pandas as pd
pd.crosstab(test_y, pred)

col_0    0     1     2     3    4    5    6     7    8    9
row_0
0      979     0     0     0    0    0    0     1    0    0
1        0  1132     1     0    0    0    2     0    0    0
2        2     0  1024     0    1    0    0     4    1    0
3        0     0     1  1003    0    5    0     0    1    0
4        0     0     0     0  975    0    0     0    2    5
5        2     0     0     2    0  886    1     1    0    0
6        4     1     0     0    1    5  946     0    1    0
7        0     2     3     0    0    0    0  1021    1    1
8        2     0     1     0    0    2    0     1  967    1
9        0     2     0     0    3    3    0     2    3  996